$theme-color: #2ed297;
$background-menu-color: #16161c;
$background-main-color: #1d1f23;
$background-playbar-shadow-color: #111111;
$background-menu-active-color: #ffffff11;
$background-table-hover-color: #00000055;
$item-notactived-color: #999999;
$main-title: #ffffff;
$sub-title: #999999;
$main-text: #ffffff;
$sub-text: #999999;
